.modQueueReview {
  max-width: 540px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-content);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: max-height 0.7s ease-out, opacity 0.5s linear;
  max-height: 1000px; /* Arbitrary large height to accommodate content */
  overflow: hidden;
  opacity: 1;
}

.dismissed {
  max-height: 0;
  opacity: 0;
  border: none;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.actionsPrimary {
  display: flex;
  align-items: center;
  gap: 8px;
}

.helpfulInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.reportedReasons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.reportedReason,
.helpfulInfoItem {
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--color-content-tint-light);
  color: var(--color-content-fg);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tight);
}

.reportedContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  max-width: 508px;
}

.reportedContent h3 {
  margin: 0;
  color: var(--color-content-fg);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.reportedContentContainer {
  border: 1px solid var(--color-content-border);
  border-radius: 8px;
  overflow: hidden;
}
