.modQueue {
  /* display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  max-width: 540px;
  margin: 0 auto; */
}

.emptyState {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 24px;
  background-color: var(--color-content);
  color: var(--color-content-fg-secondary);
  border-radius: 8px;
}

.emptyStateIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--color-content-tint-light);
  color: var(--color-content-tint-dark);
  margin-bottom: 16px;
}

.emptyState h2 {
  margin: 0 0 8px 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-content-fg);
}

.emptyState p {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-content-fg-muted);
  max-width: 320px;
}
