.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  height: 40px;
  border: none;
  border-radius: 24px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Primary Button */
.primary {
  background: var(--color-button-primary-bg);
  color: var(--color-button-primary-fg);
}

.primary:not(.disabled):hover {
  background: var(--color-button-primary-hover);
}

/* Secondary Button */
.secondary {
  background: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-fg);
}

.secondary:not(.disabled):hover {
  background: var(--color-button-secondary-hover);
}

/* Danger Button */
.danger {
  background: var(--color-button-danger-bg);
  color: var(--color-button-danger-fg);
}

.danger:not(.disabled):hover {
  background: var(--color-button-danger-hover);
}

/* Text Button */
.text {
  background-color: transparent;
  color: var(--color-button-text-fg);
}

.text:hover:not(:disabled) {
  background-color: var(--color-button-text-hover);
}

/* Icon Button */
.icon {
  padding: 8px;
  border-radius: 40px;
  background: transparent;
  color: var(--color-content-fg);
}

.icon:not(.disabled):hover {
  background: var(--color-button-text-hover);
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

label {
  line-height: var(--line-height-tight);
  color: currentColor;
  display: flex;
  align-items: center;
  gap: 3px;
  pointer-events: none;
}

/* Outline Button */
.outline {
  background: transparent;
  border: 1px solid var(--color-content-border);
  gap: 4px;
  padding: 5.5px 16px;
  transition: border-color 0.2s ease;
}

.outline label {
  color: var(--color-content-fg-secondary);
}

.outline .count {
  color: var(--color-content-fg);
  font-weight: var(--font-weight-bold);
}

.outline:not(.disabled):hover {
  background-color: var(--color-content-tint-light);
}

.facepile {
  display: flex;
}

.facepile img {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  transition: margin-left 0.2s ease;
}

.outline:hover .facepile img {
  margin-left: -8px;
}

.count {
  color: var(--color-content-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
}

.emojiIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-2);
  line-height: 1;
}
