* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: var(--font-weight-medium);
  color: var(--color-chrome);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-chrome-fg-secondary);
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}
