.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  max-height: 240px;
  overflow-y: auto;
  border-bottom: 0 solid var(--color-content-border);
  transition: border-bottom-width 0.2s ease;
}

.hasScroll {
  border-bottom-width: 1px;
}
