.button {
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--color-content-tint-light);
  border: 1px solid transparent;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background: var(--color-content-tint-hover);
}

.button:active {
  background: var(--color-accent-tint);
  border-color: var(--color-accent);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: var(--line-height-tight);
}

.title {
  font-weight: 600;
  margin-bottom: 4px;
}

.description {
  color: var(--color-content-fg-secondary);
}

.icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-content-fg-tertiary);
}
